.card {
  margin: 2rem;
  height: 20rem;
  width: 10rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.card-figure {
  width: 100%;
  margin: 0;
  padding: 0;
}

.card-image {
  width: 100%;
}
