.simple-todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 3rem;
}

.completed {
  text-decoration: line-through;
}

.fas {
  margin-left: 2rem;
}
